<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="/css/AboutNotes.css" rel="stylesheet"  type="text/css">
    <title>Document</title>
</head>
    <body>
        <nav>
            <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="m12 20l-8-8l8-8l1.425 1.4l-5.6 5.6H20v2H7.825l5.6 5.6Z"/></svg></a>  
            <p>About Note Book</p>
        </nav>      
        <div class="aboutCon">   
            <div class="aboutItem">
                <p>This notepad application has <span>no database</span>, all of the information is stored in multiple text file. The notepad’s main features include;  creating a note,  reading a note, editing a note and deleting a note. Furthermore, advanced functions include reading general information about your notes which include; number of notes and the average number of words per note. The settings property will give you the opportunity to change the colour of the notes and delete all data, if you no longer need it. </p>
            </div>
        </div>
    </body>
</html>